@{
    var viewModel = (Afdian.Action.ViewModels.AfdianViewModel)@Model;
}

<!-- @{
    var curDate = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss");
    <span>更新时间：@curDate</span>
} -->

@for (int i = 0; i < viewModel.Sponsor.data.list.Count(); i++)
{
    @{ 
        var sponsorItem  = viewModel.Sponsor.data.list[i];
     }

<a href="https://afdian.net/u/@sponsorItem.user.user_id">
<img src="@sponsorItem.user.avatar?imageView2/1/w/120/h/120" width="40" height="40" alt="@sponsorItem.user.name" title="@sponsorItem.user.name"/>
</a>
}

<details>
<summary>赞助者列表</summary>

@for (int i = 0; i < viewModel.Sponsor.data.list.Count(); i++)
{
    @{ 
        var sponsorItem  = viewModel.Sponsor.data.list[i];
        int orderNum = 0;

        for (int j = 0; j < viewModel.Order.data.list.Count(); j++)
        {
            var orderItem  = viewModel.Order.data.list[j];
            if (orderItem.user_id == sponsorItem.user.user_id) {
                orderNum++;
            }
        }
     }

<a href="https://afdian.net/u/@sponsorItem.user.user_id">
@sponsorItem.user.name
</a>
<span>( @orderNum 次赞助 )</span><br>
}

</details>
<!-- 注意: 尽量将标签前靠,否则经测试可能被 GitHub 解析为代码块 -->